@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #060C27;
    color: #b1bac7;
}

/* Header */

.menu-grid {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 60px;
	background-color: #060C27;
	gap: 0px 0px;
	z-index: 1000;
	grid-auto-flow: row;
	position:fixed;
	box-shadow: rgb(165, 236, 248, 0.4) 1px 1px 2px 1px;
}

.Header {
	align-self: stretch; 
	justify-self: center;
	width: 100%;
	min-height: 55px;
}


/* The Main Content */

.fullpage {  
	display: grid;
	grid-template-columns: 0.3fr 1fr 0.3fr ;
	grid-template-rows: 110px 6fr 60px;
	min-height: 100vh;
	gap: 0px 20px;
	grid-auto-flow: row;
	grid-template-areas:
	  "menu-grid menu-grid menu-grid"
	  "left-side main-content right-side"
	  "footer footer footer";
}

.right-side { 
	grid-area: right-side; 
	justify-self: center;
	align-self: start;
	padding: 20px 20px 0 20px;
	gap: 10px 10px;
}

.left-side { 
	grid-area: left-side; 
	justify-self: center;
	left:0;
	align-self: start;
	padding: 20px 20px 0 20px;
	gap: 10px 10px;
}

.side-column {
	display: flex;
	flex-direction: column;
	min-width:150px;
	gap: 20px 0px;
}

.main-content {
	display: grid;   
  	justify-self: center; 
  	align-self: start; 
  	grid-area: main-content; 
  	min-height: 100vh; 
	width: 100%;
}

/* Table */

table {
	margin: 0 0 2.75rem 0;
	width: 100%;
}

table tbody tr {
	border: solid 1px;
	border-left: 0;
	border-right: 0;
}

table td {
	padding: 0.75rem 0.75rem;
	color: #b5b7bb;
}

table th {
	color: #9ea5ad;
	font-size: 1.1rem;
	font-weight: 700;
	padding: 0 0.75rem 0.75rem 0.75rem;
	text-align: left;
}

table thead {
	border-bottom: solid 2px;
}

table tfoot {
	border-top: solid 2px;
}

table tbody tr {
	border-color: rgba(0, 0, 0, 0.15);
}

table tbody tr:nth-child(2n + 1) {
	background-color: rgba(144, 144, 144, 0.075);
}

table th {
	color: #474d55;
}

table thead {
	border-bottom-color: rgba(0, 0, 0, 0.15);
}

table tfoot {
	border-top-color: rgba(0, 0, 0, 0.15);
}

#vote1 {
	color: #69b34c;
}
#vote2 {
	color: #acb334;
}
#vote3 {
	color: #fab733;
}
#vote4 {
	color: #ff8e15;
}
#vote5 {
	color: #ff4e11;
}
#vote6 {
	color: #ff0d0d;
}